@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
	font-family: 'Patrick Hand', serif;
	margin: 0;
	padding: 0;
	background: linear-gradient($purple, $dark-purple);
	height: 100vh;
	color: white;
	position: relative;
}

h1 {
	font-size: 50px;
	text-shadow: 0 0 4px white;
	margin: 0;
    padding-top: 215px;
    padding-bottom: 20px;
    text-align: center;
}

p {
	margin: 0;
	text-shadow: 0 0 2px white;
}
