@keyframes expand {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

body {
	overflow: hidden;
}

.to-from {
	font-size: 27px;
	padding: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	padding-top: 20px;
}

img {
	margin: 0 auto;
    display: block;
	border-radius: 20px;
    box-shadow: 0 0 8px $dark-purple;
	transform: scale(100%);
	transition: ease-in-out .7s;
	height: 300px;
	width: 300px;
	&.active {
		transform: scaleX(5.2);
		border-radius: 0;
	}
}

.heart {
	margin-left: 51px;
	transform: scale(200%)
}
