
.heart {
    width: 100px;
    height: 100px;
    background: $hot-pink;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 120px $hot-pink;
    animation: heart 2s linear infinite;
}
@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1); 
    }
    100% {
        transform: rotate(-45deg) scale(1.1);
    }
    100% {
        transform: rotate(-45deg) scale(1.05);
    }
    
}
.heart::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: $hot-pink;
    top: -50%;
    border-radius: 60px;
    box-shadow: -10px 10px 120px $hot-pink;
}
.heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: $hot-pink;
    right: -50%;
    border-radius: 60px;
    box-shadow: -10px 10px 120px $hot-pink;
}
.heart-scale {
	transform: scale(5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    position: relative;
    top: -262px;
    left: -118px;
}
